{% extends 'base.html' %}

{% block title %} Analyze {% endblock %}

{% block content %}
<form class="file-form" method="POST" enctype="multipart/form-data">
    <fieldset>
        <div class="form-group">
            <label class="input-label" for="file-upload">Upload Meta Data</label>
            <input class="file-input" type="file" name="meta_data_file" accept=".tsv, .csv">
        </div>
        <div class="form-group">
            <label class="input-label" for="file-upload">Upload Gene Counts</label>
            <input class="file-input" type="file" name="counts_file" accept=".tsv, .csv">
        </div>
    </fieldset>
    <div class="form-group">
        <button class="submit-button" type="submit">Upload Files</button>
    </div>
</form>
{% endblock %}

<!-- TODO: This doesn't look too bad but I can probably improve it quite a bit -->
{% block styles %}
<style>
.file-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #DFD9D8;
}

.form-group {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #DFD9D8;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #B44446;
    color: #DFD9D8;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: #FC8F8F;
    }
}

.file-input {
    &:focus {
        border-color: #DFD9D8;
        outline: none;
    }
}
</style>
{% endblock %}